<div class="output-pane" id="pr-pane" style="display: none;">
    <div class="pr-info">
        <div class="pr-status">Not created yet</div>
        <p>A pull request will be created once all code changes are complete.</p>
    </div>
</div>