# Binary files
*.png
*.jpg
*.jpeg
*.ico
*.svg
*.gif
*.woff
*.woff2
*.ttf
*.eot
*.webmanifest
*.ejs

# Specific asset files
src/assets/
src/assets/android-chrome-192x192.png
src/assets/android-chrome-512x512.png
src/assets/apple-touch-icon.png
src/assets/favicon-16x16.png
src/assets/favicon-32x32.png
src/assets/favicon.ico
src/assets/site.webmanifest
src/assets/dev-panel/

# Templates
src/generator/templates/

# Build output
node_modules/
lib/
dist/
coverage/
.nyc_output/
docs/

# Misc
.DS_Store
.env
.env.*